Repository ls1intum/Athena, pull requests merged in 2023-11, with the labels that each got.

#170 Update prompts and general improvements and fixes
  module_programming_llm/module_programming_llm/config.py
  module_programming_llm/module_programming_llm/helpers/models/openai.py
  module_programming_llm/module_programming_llm/helpers/models/replicate.py
  module_programming_llm/module_programming_llm/prompts/generate_suggestions_by_file.py
  module_programming_llm/module_programming_llm/prompts/split_grading_instructions_by_file.py
  module_programming_llm/module_programming_llm/prompts/split_problem_statement_by_file.py
  module_text_llm/module_text_llm/config.py
  module_text_llm/module_text_llm/generate_suggestions.py
  module_text_llm/module_text_llm/helpers/models/openai.py
  module_text_llm/module_text_llm/helpers/models/replicate.py
  module_text_llm/module_text_llm/prompts/generate_suggestions.py
  playground/src/components/details/editor/inline_feedback.tsx
  playground/src/components/details/exercise_detail/structured_grading_instruction_detail.tsx
  playground/src/components/submission_list.tsx
  playground/src/components/view_mode/evaluation_mode/conduct_experiment/batch_module_experiment.tsx
  playground/src/components/view_mode/evaluation_mode/define_experiment.tsx
  playground/src/components/view_mode/module_requests/request_feedback_suggestions.tsx
  playground/src/components/view_mode/module_requests/request_submission_selection.tsx
  playground/src/components/view_mode/module_requests/send_feedbacks.tsx
  playground/src/hooks/batch_module_experiment.ts
Labels: bug, enhancement, python, playground, javascript

#171 Add support for manual evaluation
  playground/src/components/details/editor/code_editor.tsx
  playground/src/components/details/editor/file_editor.tsx
  playground/src/components/details/editor/inline_feedback.tsx
  playground/src/components/details/submission_detail/index.tsx
  playground/src/components/details/submission_detail/programming.tsx
  playground/src/components/details/submission_detail/text.tsx
  playground/src/components/view_mode/evaluation_mode/conduct_experiment/batch_module_experiment.tsx
  playground/src/components/view_mode/evaluation_mode/conduct_experiment/index.tsx
  playground/src/components/view_mode/evaluation_mode/configure_modules.tsx
  playground/src/components/view_mode/evaluation_mode/define_experiment.tsx
  playground/src/hooks/batch_module_experiment.ts
  playground/src/model/feedback.ts
  playground/src/model/manual_rating.ts
Labels: enhancement, playground, javascript

#175 Fix OpenAI API key error when unset
  module_programming_llm/module_programming_llm/helpers/models/openai.py
  module_text_llm/module_text_llm/helpers/models/openai.py
Labels: bug

#176 `Documentation`: Improve evaluation data export docs
  docs/images/load-anonymized-database-dump.png
  docs/setup/evaluation.rst
Labels: documentation

#181 Update Langchain dependencies
  module_programming_llm/module_programming_llm/helpers/models/replicate.py
  module_programming_llm/poetry.lock
  module_programming_llm/pyproject.toml
  module_text_llm/module_text_llm/helpers/models/replicate.py
  module_text_llm/poetry.lock
  module_text_llm/pyproject.toml
  poetry.lock
Labels: dependencies, lock:athena-test3

#180 `Documentation`: Add overview page for the playground
  docs/images/playground.png
  docs/images/playground/base_info_header.png
  docs/images/playground/evaluation_mode/conduct_experiment_text.png
  docs/images/playground/evaluation_mode/configure_modules.png
  docs/images/playground/evaluation_mode/define_experiment.png
  docs/images/playground/module_requests/evaluation.png
  docs/images/playground/module_requests/generate_suggestions.png
  docs/images/playground/module_requests/get_config_schema.png
  docs/images/playground/module_requests/request_submission_selection.png
  docs/images/playground/module_requests/select_module.png
  docs/images/playground/module_requests/send_feedback.png
  docs/images/playground/module_requests/send_submissions.png
  docs/images/playground/playground.png
  docs/index.rst
  docs/overview/playground.rst
  docs/run/playground.rst
  docs/setup/install.rst
Labels: documentation

#174 Add automatic evaluation with LLM-as-a-Judge, LangSmith export, and SGI evaluation
  assessment_module_manager/assessment_module_manager/endpoints/health_endpoint.py
  assessment_module_manager/assessment_module_manager/module/list_modules.py
  assessment_module_manager/assessment_module_manager/module/module.py
  assessment_module_manager/modules.docker.ini
  assessment_module_manager/modules.ini
  athena/athena/__init__.py
  athena/athena/endpoints.py
  docs/module/structure.rst
  module_example/module_example/__main__.py
  module_programming_llm/module_programming_llm/generate_suggestions_by_file.py
  module_text_llm/.env.example
  module_text_llm/module_text_llm/__main__.py
  module_text_llm/module_text_llm/evaluation.py
  module_text_llm/module_text_llm/generate_evaluation.py
  module_text_llm/module_text_llm/generate_suggestions.py
  module_text_llm/module_text_llm/helpers/models/__init__.py
  module_text_llm/module_text_llm/helpers/utils.py
  module_text_llm/module_text_llm/prompts/generate_evaluation.py
  module_text_llm/poetry.lock
  module_text_llm/pyproject.toml
  playground/src/components/details/exercise_detail/common.tsx
  playground/src/components/view_mode/evaluation_mode/conduct_experiment/batch_module_experiment.tsx
  playground/src/components/view_mode/evaluation_mode/conduct_experiment/index.tsx
  playground/src/components/view_mode/evaluation_mode/conduct_experiment/module_experiment_progress.tsx
  playground/src/components/view_mode/module_requests/index.tsx
  playground/src/components/view_mode/module_requests/request_evaluation.tsx
  playground/src/hooks/athena/request_evaluation.ts
  playground/src/hooks/athena_fetcher.ts
  playground/src/hooks/batch_module_experiment.ts
  playground/src/hooks/module_context.tsx
  playground/src/model/automatic_evaluation.ts
  playground/src/model/health_response.ts
  playground/src/pages/api/athena_request.ts
Labels: documentation, enhancement, dependencies, python, playground, athena package, javascript

#188 `Documentation`: Add note about PostgreSQL dependency
  docs/setup/install.rst
Labels: documentation
