Repository ls1intum/Athena, pull requests merged in 2023-08, with the labels that each got.

#64 Fix export script issues and add final evaluation data selection
  playground/scripts/artemis/2_export_evaluation_data.mjs
  playground/scripts/artemis/3_download_programming_repositories.mjs
  playground/scripts/artemis/4_link_programming_repositories.mjs
  playground/scripts/artemis/evaluation_data/programming_exercises.json
  playground/scripts/artemis/evaluation_data/text_exercises.json
  playground/scripts/artemis/export_programming_exercises.sql
  playground/scripts/artemis/export_text_exercises.sql
Labels: bug, playground

#70 Fix download programming repositories
  playground/package-lock.json
  playground/package.json
  playground/scripts/artemis/3_download_programming_repositories.mjs
  playground/scripts/artemis/evaluation_data/programming_exercises.json
Labels: bug, enhancement, playground

#61 More usable submission detail for evaluation mode
  module_text_llm/module_text_llm/helpers/models/openai.py
  playground/package-lock.json
  playground/package.json
  playground/src/components/details/code_view/file_tree.tsx
  playground/src/components/details/code_view/index.tsx
  playground/src/components/details/editor/code_editor.tsx
  playground/src/components/details/editor/editor_widget.tsx
  playground/src/components/details/editor/file_editor.tsx
  playground/src/components/details/editor/file_tree.tsx
  playground/src/components/details/editor/inline_feedback.tsx
  playground/src/components/details/exercise_detail/common.tsx
  playground/src/components/details/exercise_detail/programming.tsx
  playground/src/components/details/exercise_detail/text.tsx
  playground/src/components/details/submission_detail/index.tsx
  playground/src/components/details/submission_detail/programming.tsx
  playground/src/components/details/submission_detail/text.tsx
  playground/src/components/module_requests/feedback_editor_test.tsx
  playground/src/components/module_requests/index.tsx
  playground/src/helpers/fetch_and_unzip.ts
  playground/src/helpers/get_data.ts
  playground/src/helpers/origin_from_req.ts
  playground/src/hooks/athena/request_feedback_suggestions.ts
  playground/src/model/feedback.ts
  playground/src/model/module_response.ts
  playground/src/model/submission.ts
  playground/src/pages/_app.tsx
  playground/src/styles/globals.css
  playground/src/styles/monaco.css
  playground/src/styles/schema_form.css
Labels: deploy:athena-test3, lock:athena-test3, playground

#73 Add feedback editor to send feedbacks
  playground/src/components/details/editor/inline_feedback.tsx
  playground/src/components/module_requests/feedback_editor_test.tsx
  playground/src/components/module_requests/index.tsx
  playground/src/components/module_requests/send_feedback.tsx
  playground/src/components/module_requests/send_feedbacks.tsx
  playground/src/components/selectors/feedback_select.tsx
  playground/src/components/submission_list.tsx
  playground/src/hooks/athena/request_feedback_suggestions.ts
  playground/src/hooks/athena/send_feedback.ts
  playground/src/hooks/athena/send_feedbacks.ts
  playground/src/model/feedback.ts
Labels: enhancement, lock:athena-test3, playground

#75 Allow large IDs in the database
  athena/athena/models/db_exercise.py
  athena/athena/models/db_feedback.py
  athena/athena/models/db_programming_feedback.py
  athena/athena/models/db_programming_submission.py
  athena/athena/models/db_submission.py
  athena/athena/models/db_text_feedback.py
  athena/athena/models/db_text_submission.py
Labels: enhancement, lock:athena-test3, python

#82 Fix: Allow ID autoincrement in SQLite
  athena/athena/models/big_integer_with_autoincrement.py
  athena/athena/models/db_exercise.py
  athena/athena/models/db_feedback.py
  athena/athena/models/db_programming_feedback.py
  athena/athena/models/db_programming_submission.py
  athena/athena/models/db_submission.py
  athena/athena/models/db_text_feedback.py
  athena/athena/models/db_text_submission.py
Labels: bug, python

#80 Better feedback suggestions in the example module
  module_example/module_example/__main__.py
Labels: enhancement, python

#87 Docker Production: Add dependencies on Postgres startup
  docker-compose.prod.yml
Labels: lock:athena-test3

#89 Run consumers asynchronously
  athena/athena/endpoints.py
Labels: enhancement, python, athena package

#85 ThemisML: Make startup work on test server
  module_programming_themisml/Dockerfile
  module_programming_themisml/module_programming_themisml/__main__.py
  module_programming_themisml/module_programming_themisml/extract_methods/languages/JavaLexer.py
  module_programming_themisml/module_programming_themisml/extract_methods/languages/JavaParser.py
  module_programming_themisml/module_programming_themisml/feedback_suggestions/code_similarity_computer.py
  module_programming_themisml/poetry.lock
  module_programming_themisml/pyproject.toml
Labels: python

#92 Indicate grading instruction with badge
  playground/src/components/details/editor/inline_feedback.tsx
  playground/src/model/feedback.ts
Labels: enhancement, playground

#91 Fix long module config loading state
  playground/src/components/selectors/module_and_config_select.tsx
Labels: enhancement, playground

#90 Allow nullable example solution in text exercises
  athena/athena/models/db_text_exercise.py
  athena/athena/schemas/text_exercise.py
Labels: bug, python, athena package
